# Salin menjadi .env.local untuk development lokal
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=CHANGE_ME.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3000/login/callback
NEXT_PUBLIC_APP_URL=http://localhost:3000
